@model IEnumerable<OMS.Areas.Settings.ViewModels.UserViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int Sl = 1;
}

<h3>User List</h3>

<p>
    <a asp-action="Create" class="btn btn-success btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> Create</a>
</p>

<table class="table table-bordered table-striped table-hover table-sm">
    <thead>
        <tr style="text-align:center">
            <th>SL. No.</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>User Name</th>
            <th>Role Name</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center">
                    @(Sl++)
                </td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.UserName</td>
                <td>@item.RoleName</td>
                <td class="d-flex justify-content-center">
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil-square-o" title="Edit" aria-hidden="true" style="font-size:20px; color:green"></i></a>
                    &nbsp;
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash-o" title="Delete" aria-hidden="true" style="font-size:20px; color:red"></i></a>
                </td>
            </tr>
        }
    </tbody>

</table>